/* top level style */
body {
    max-width: 980px;
    margin: auto;
    border: 1px solid black;
    background-size: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* styling the containers */
.container {    
    background-image: url("../images/Background_Trivia.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh; 
    min-height: 100%;
    border: 1px solid black;
}
.top-bottom,
.result-top {
    height: 80px;
}
.subcontainer {
    height: 80%;
    width: 80%;
    background-color: lightgoldenrodyellow;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}
/* page heading */
.game-heading {
    font-size: 44px;
    line-height: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
/* different font style across the page*/
.question-head,
#scoreboard {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}
input[type=radio]{
    width   : 28px;
}
input[type=radio]:hover {
    cursor: pointer;
}
#time-left,
input[type="radio"]:checked+span {
    font-weight: bold;
    color: red;
}
/* styling the image & button */
button {
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20px;
}
button:hover {
    color: white;
    background-color: lightslategray;
    cursor: pointer;
}
