body {
    max-width: 980px;
    margin: auto;
    border: 1px solid black;
    background-size: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
}
.container {    
    background-image: url("../images/Background_Trivia.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh; 
    min-height: 100%;
    border: 1px solid black;
}
.top-bottom {
    height: 80px;
}
.subcontainer {
    height: 80%;
    width: 80%;
    background-color: lightgoldenrodyellow;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}
.game-heading {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    color: palevioletred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
.heading,
.pic-area {
    display: flex;
    flex-wrap: wrap;
}
img {
    height: 100px;
    width: 100px;
    margin: auto;
}